body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    background-color: #ffffff;
    overflow-x: hidden;
}
.header{
    color: #28A8EA;
    border: 1px solid #e8dede;
    width:100%;
    height: 50px;
    background-color: #ffffff;
    position: fixed;
    overflow: hidden;
    z-index: 1000;
  
}
.header a:hover{
    text-decoration-thickness: 50px;
    text-underline-offset: 15px;
}
.home{
    color: #0088cc;
    float:left;
    padding-left: 84px;
    font-size: 17px;
    
}
.faq{
    color: #0088cc;
    float:left;
    padding-left: 40px;
    font-size: 17px;
}
.apps{
    color: #0088cc;
    float:left;
    padding-left: 40px;
    font-size: 17px;
}
.api{
    color: #0088cc;
    float:left;
    padding-left: 40px;
    font-size: 17px;
}
.API-text a{
    text-decoration: none;
    color: #28A8EA;
}
.API-text a:hover{
    text-decoration: underline;
}
.protocol{
    color: #0088cc;
    float:left;
    padding-left: 40px;
    font-size: 17px;
}
.twitter a{
    text-decoration: none;
}
.twitter-icon{
    margin-right: 5px;
    width:10px;
    
}
.language-img{
    width:24px;
    height:24px;
    margin-left: 90px;
    margin-top: 10px;
    padding: 15px 15px 15px 15px;
    
}
.twitter-img{
    width:20px;
    float:left;
    height:20px;
    margin:left;
    
}
.right-side{
    display:flex;
    align-items: center;
    float:left;
    width:30%;

}
.language-txt{
    text-decoration: none;
    color:#0088cc;
    font-size: 16px;
    margin-left: 90px;
    margin-top: 10px;
    padding: 15px 15px 15px 15px;
    
}
.drop-down a{
text-decoration: none;
}
.drop-down a:hover{
    text-decoration-thickness: 50px;
    text-underline-offset: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
    color: #28A8EA;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 5px;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: #ffff;
}
.left-side{
    float:left;
    width:50%;
    padding-top: 15px;   
}
.left-side a{
    text-decoration: none;
}
.left-side a:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;

}

.twitter-txt{
    float:left;
    width:50%;
    margin-left: 50%;
}
.twitter-content{
    color: #28A8EA;
    font-size: 15px;
      
}
.twitter-content a{
    text-decoration: none; 
}
.right-side{

padding: 15px;
float: right;
    
}
 .right-side a{
    text-decoration: none;
}
.right-side a :hover{
    border-bottom:3px solid #179cde;
} 
.globe{
    display: flex;
    margin-left: 150px;
    
}
.globe a{
    text-decoration: none;
}
.globe:hover{
    border-bottom:3px solid #179cde;
    height: 30px;
}
.twitter{
    display: flex;
    margin-left: 20px;
    
}
.globe img{
    height: 16px;    
}
.twitter img{
    width: auto;
    height: 20px;
    margin-left: 20%;
    

}
.globe a{
    text-decoration: none;
    margin-left: 10px;
    
}
#globe-icon {
    color: white !important; 
    -webkit-text-stroke: 1px #28A8EA;
}
.twitter a{
    text-decoration: none;
    margin-left: 5px;
    
}
.twitter:hover{
    border-bottom:3px solid #179cde;
   height: 30px;
}

.first-part{
    margin-left: 558px;
    margin-top: 72px;
}
.first-part-img{
    
    width: 130px;
    height: 130px;
}
.text-one{
    
    width: 15px;
    width: 15px;
    font-size: 37px;
    font-family: auto;
    font-weight: bold;
    color: rgb(37, 32, 32);
}
.text-two{
    
    width: 266px;
    font-size: 20px;
    color: gray;
    font-family: auto;
    margin-left: -16px;
    
}
.second-part{
    content: ' ';
    display: block;
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;
    width: 4px;
    height: 267px;
    background-color: #179cde;
    margin-top: 29px;
    margin-left: 89px;
    
}
.news-header a {
color:#28A8EA;
font-weight: bold;
text-decoration: none;
font-size: 17px;
}
.news-header a:hover{
    text-decoration: underline;
}
.second-news {
text-decoration:none;   
}
.second-news a{
 text-decoration: none;
 color:#28A8EA;
margin-right: 20px;
}
.second-news a:hover{
text-decoration: underline;
margin-right: 20px;
}
.third-news {
text-decoration:none;   
    
}
.third-news a{
 text-decoration: none;
color:#28A8EA;
margin-right: 20px;
}
.third-news a:hover{
text-decoration: underline;
margin-right: 20px;
}
    
.news-item a {
    text-decoration: none;
    color: #28A8EA;
}
.news-item a:hover {
    text-decoration: underline;
}
.body-second-part{
    display: flex;
}
.first-img{
    margin-left: 270px;
    margin-top: 15px;
}
.second-img{
    margin-left: 38px;
    margin-top: 15px; 
}
.second-part-txt{
    display: flex;
}
/* .first-img-txt{
    margin-left: 339px;
    margin-top: -14px;
}
.first-img-txt a{
    text-decoration:none;
    color:#28A8EA;
}
.first-img-txt a:hover{
    border-bottom:3px solid #179cde;
    
} */
.telegram{
    margin-left: 281px;
    margin-top: -21px;
}
.telegram a{
    margin-left:30px;
    font-size:18px;
    text-decoration:none;
    color: #179cde;
    }
.telegram a:hover { 
    border-bottom:3px solid #179cde;
}
.second-img-txt{
    margin-left: 149px;
    margin-top: -16px;
    color: #179cde;
}
.second-img-txt a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    color: #179cde;
}
.second-img-txt a:hover{
    border-bottom: 3px solid #179cde;
}
.third-part-img{
    margin-left: 6px;
    margin-top: 80px;
}
.third-part-txt{
    margin-left: 431px;
    margin-top: -19px;
    font-size: 15px;
}
.third-part-txt a{
    text-decoration: none;
    color: #28A8EA;
}
.third-part-txt a:hover{
     border-bottom: 3px solid #179cde;
     /* text-underline-offset: 15px;
     text-decoration-thickness: 3px; */

}
.third-part-txt2{
    margin-left: 714px;
    margin-top: -17px;
    font-size: 15px;
}
.third-part-txt2 a{
    text-decoration: none;
    color:#28A8EA;
}
.third-part-txt2 a:hover{
    border-bottom: 3px solid #179cde;
    /* text-underline-offset: 15px;
     text-decoration-thickness: 3px; */
}
.part-four{
    font-family:  Helvetica;
    line-height: 1.6;
}
.part-four-txt{
    color: #28A8EA;
    margin-top: 72px;
    margin-left: 582px;
    font-family: auto;
    font-weight: 600;
}
.part-four-txt a{
    text-decoration: none;
    color: #28A8EA;
    font-size: 35px;
}
.part-four-txt a:hover{
    text-decoration: underline;
}
.part-four-images{
    display: flex;
    
}
.part-four-img1{
    margin-top: -21px;
    margin-left: 250px;
}
.part-four-img2{
    margin-top: -21px;
    margin-left: 80px;
}
.content{
    margin-top: 20px;
    margin: 20px;
    max-width: 350px;
    margin-left: 262px;
}
.content-heading{
    font-size: 18px;
    color: #179cde;
}
.content a{
    text-decoration:none;
}
.content a:hover{
    text-decoration: underline;
}
p{
    font-size: 15px;
    color: #333;
}
.date{
    font-size: 14px;
    color: #999;
}
.content-two{
    margin-top: -205px;
    max-width: 350px;
    margin-left: 700px;
}
.content-heading2{
    font-size: 18px;
    color: #179cde;
}
.content-two a{
    text-decoration: none;
}
.content-two a:hover{
    text-decoration: underline;
}
h3{
    margin-left: 550px;
    margin-top: 22px;
    color: #222222;
    font-size: 23px;
    font-weight: 500;
}
.part-five-images{
    display: flex;
}
.part-five-img1{
    margin-left: 240px;
}
.part-five-img2{
    margin-left: 186px;
}
.part-five-img3{
    margin-left: 152px;
}
.part-five-text{
    display: flex;
}
.simple{
    margin-left: 204px;
    margin-top: -30px;
}
.private{
    margin-left: 104px;
    margin-top: -25px;
}
.synced{
    margin-left: 62px;
    margin-top: -27px; 
}
.simple-txt{
    margin-left: 7px;
    text-align: center;
    margin-top: -21px;
    line-height: 1.5;
}
.private-txt{
    margin-left: -6px;
    text-align: center;
    margin-top: -18px;
    line-height: 1.5;
}
.synced-txt{
    margin-left: 7px;
    text-align: center;
    margin-top: -18px;
    line-height: 1.5;
}
.part-six-images{
    display: flex;
}
.part-six-img1{
    margin-left: 247px;

}
.part-six-img2{
    margin-left: 188px;

}
.part-six-img3{
    margin-left: 138px;

}
.part-six-text{
    display: flex;
}
.fast{
    margin-left: 290px;
    margin-top: -36px;
}
.powerful{
    margin-left: 172px;
    margin-top: -32px;
}
.open{
    margin-left: 140px;
    margin-top: -31px; 

}
.fast-txt{
    margin-left: -81px;
    text-align: center;
    margin-top: -21px;
    line-height: 1.5;
}
.powerful-txt{
    margin-left: -71px;
    text-align: center;
    margin-top: -26px;
    line-height: 1.5;

}
.open-txt{
    margin-left: -66px;
    text-align: center;
    margin-top: -27px;
    line-height: 1.5;
}
.lastpart-images{
    display: flex;
}
.lastpart-img1{
    margin-left: 250px;

}
.lastpart-img2{
    margin-left: 180px;

}
.lastpart-img3{
    margin-left: 150px;

}
.lastpart-text{
    display: flex;
}
.secure{
    margin-left: 287px;
    margin-top: -32px;
    
}
.social{
    margin-left: 187px;
    margin-top: -37px;
}
.expressive{
    margin-left: 138px;
    margin-top: -33px; 
}
.secure-txt{
    margin-left: -66px;
    text-align: center;
    margin-top: -29px;
    line-height: 1.5;
}
.social-txt{
    margin-left: -69px;
    text-align: center;
    margin-top: -28px;
    line-height: 1.5;
}
.expressive-txt{
    margin-left: -38px;
    text-align: center;
    margin-top: -32px;
    line-height: 1.5;
}
.footer{
    border-top: 1px solid #e8e8e8;
    width: 925px;
    height: 80px;
    margin: 85px auto 
}
.footer-columns{
    display: flex;
    margin: 0 auto;
    
}
.footer-column1{
    font-size: 18px;
    margin-bottom: 9px;
    margin-left: 65px;
}
.footer-column1-description{
    font-size: 15px;
    font-family: auto;
    margin-top: -15px;
    color: #5d5656;
}
.footer-column2{
    font-size: 14px;
    margin-left: 34px;
    
}
.abouts{
    margin-top: -22px;
    line-height: 1.5;
    font-size: 17px;
}
.abouts a{
color:#28A8EA;
font-size: 14px;
margin-top: 5px;
}
.footer-column2 a{
    text-decoration: none;
}
.footer-column2 a:hover{
    text-decoration: underline;
}
.footer-column3{
    margin-left: 50px;
    font-size: 14px;
}
.footer-column3 a{
    text-decoration: none;
}
.footer-column3 a:hover{
    text-decoration: underline;
}
.footer-column4{
    margin-left: 50px;
    font-size: 14px;
}
.footer-column4 a{
    text-decoration:none;
}
.footer-column4 a:hover{
    text-decoration: underline;
}
.footer-column5{
    margin-left: 50px;
    font-size: 14px;
}
.footer-column5 a{
    text-decoration: none;
}
.footer-column5 a:hover{
    text-decoration: underline;
}
